.home-page {
  background-color: #fcfefc;
  display: flex;
  margin: 10px 10px 10px 10px;
  padding: 8px;
  /* width: 100%; */
  height: auto;
  margin-top: 40px;
}

.details {
  margin: auto auto auto auto;
  float: right;
  /* width: 50%; */
  margin-left: 280px;
}

h3,
h4,
h1 {
  margin: 0.3px;
  font-feature-settings: unset;
}

.details h1 {
  font-size: 55px;
  font-style: normal;
  /* letter-spacing: -0.03em; */
  line-height: 1.25;
  font-weight: bolder;
  /* font-weight: bolder; */
  color: rgb(0, 0, 0, 0.9);
}

.details h3 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.7);
}

.details h4 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.6);
}

/* .details p {
  font-size: 16px;
  fontweight: bold;
  color: rgb(0, 0, 0, 0.6);
} */

.gif {
  width: 150%;
}
